name: Invite Student to GitHub
run-name: Invite Student to GitHub (${{ inputs.handle }})
on:
  workflow_dispatch:
    inputs:
      handle:
        description: 'GitHub handle to invite'
        required: true
jobs:
  invite-student-to-github:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - uses: actions/cache@v3
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install
        
      - name: Invite student to GitHub
        run: node tools/inviteToGitHub.js ${{ github.event.inputs.handle }}
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GIT_AUTH_TOKEN }}
